

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav navbar-expand-lg">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            Edu Meeting
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a routerLink="/welcome" class="active">Home</a></li>
            <li><a routerLink="/create-meeting">Create Meeting</a></li>
            <li><a routerLink="/all-meeting">Meetings</a></li>
            <li><a routerLink="/meeting-details">Meeting Details</a></li>
            <li><a routerLink="/meeting-room">Meetings Room</a></li>

            <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
            <li class="has-sub">
              <a >Pages</a>
              <ul class="sub-menu">
                <li><a routerLink="/all-meeting">Upcoming Meetings</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="#courses">Courses</a></li>
            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>

<script>
  //according to loftblog tut
  $('.nav li:first').addClass('active');

  var showSection = function showSection(section, isAnimate) {
    var
      direction = section.replace(/#/, ''),
      reqSection = $('.section').filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $('body, html').animate({
          scrollTop: reqSectionPos },
        800);
    } else {
      $('body, html').scrollTop(reqSectionPos);
    }

  };

  var checkSection = function checkSection() {
    $('.section').each(function () {
      var
        $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var
          currentId = $this.data('section'),
          reqLink = $('a').filter('[href*=\\#' + currentId + ']');
        reqLink.closest('li').addClass('active').
        siblings().removeClass('active');
      }
    });
  };

  $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
    e.preventDefault();
    showSection($(this).attr('href'), true);
  });

  $(window).scroll(function () {
    checkSection();
  });
</script>



