<user-navbar></user-navbar>

<div class="wrapper">
  <div class="profile-card">
    <div class="profile-card__img">
      <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg"
           alt="profile card">
    </div>
    <div class="custom-card-body">
      <!-- first lastname -->
      <div class="text-center">
        <!-- Add mx-auto for centering and text-left for left-aligning content -->
        <div class="profile-card__name text-center">FLen fouleni</div>
        <div class="profile-card__txt "><span class="iconify me-2" data-icon="entypo:email" data-width="24"
                                              data-height="24"></span> : <strong>flenfouleni</strong></div>
        <div class="profile-card__txt "><span class="iconify me-2" data-icon="streamline:send-email" data-width="24"
                                              data-height="24"></span><strong> flenfouleni@email.com</strong></div>
      </div>


      <div class="border border-top">
        <app-meeting-timeline></app-meeting-timeline>

      </div>
    </div>

  </div>

</div>


