<user-navbar></user-navbar>


<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Here are our upcoming meetings</h6>
        <h2>Upcoming Meetings</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li data-filter="*" class="active">All Meetings</li>
                <li data-filter=".soon">Soon</li>
                <li data-filter=".imp">Important</li>
                <li data-filter=".att">Attractive</li>
              </ul>
            </div>
          </div>

          <!--create meeting -->
          <div class="col-md-9 card custom-card1 shadow bg-body-tertiary p-3 me-5 mb-5">
            <div class="card-body">
              <h2 class="text-center mb-5">Create Meeting</h2>
              <form class="" [formGroup]="creatMeetingForm" (ngSubmit)="createMeeting()">
                <!--          title-->
                <div class="form-floating mb-3">
                  <input type="text" formControlName="title" class="form-control mb-2" id="title" placeholder="">
                  <label for="title">Title</label>
                </div>


                <!--          description-->
                <div class="form-floating mb-3">
                    <textarea formControlName="description" class="form-control mb-2" id="description"
                              placeholder=""></textarea>
                  <label for="description">Description</label>
                </div>

                <!--          dateTime-->
                <div class="form-floating mb-3">
                  <input type="datetime-local" formControlName="dateTime" class="form-control mb-2" id="dateTime"
                         placeholder="">
                  <label for="dateTime">When ?</label>
                </div>

                <!--          maxAttendees-->
                <div class="form-floating mb-3">
                  <input type="number" formControlName="maxAttendees" class="form-control mb-2" id="maxAttendees"
                         placeholder="">
                  <label for="maxAttendees">Max Attendees</label>
                </div>


                <button type="submit" class="btn custom-btn1 mt-4 mb-2">Create Meet</button>


                <div class="created-meet" *ngIf="createdMeeting != null">
                  <h2 class="text-center mb-5">Created</h2>
                  <!--          room-id-->
                  <div>
                    Room id : {{ this.createdMeeting.roomId }}
                  </div>

                  <!--          title-->
                  <div>
                    Room id : {{ this.createdMeeting.title }}
                  </div>


                  <!--          description-->
                  <div>
                    Room id : {{ this.createdMeeting.description }}
                  </div>

                  <!--          dateTime-->
                  <div>
                    Room id : {{ this.createdMeeting.dateTime }}
                  </div>

                  <!--          maxAttendees-->
                  <div>
                    Room id : {{ this.createdMeeting.maxAttendees }}
                  </div>

                  <div class="col-md-6" *ngIf="showBtnOptions">
                    <button class="custom-btn1" (click)="redirectToDetails()">Show meet details</button>
                  </div>

                  <div class="col-md-6" *ngIf="showBtnOptions">
                    <button class="custom-btn1" (click)="redirectToRoom()">Join Room</button>
                  </div>

                </div>

              </form>
            </div>
          </div>


          <!--created meeting -->
          <!--          <div class="col-md-6 card custom-card1 shadow bg-body-tertiary p-3  mb-5" n >-->
          <!--            <div class="card-body">-->
          <!--              <div class="created-meet" *ngIf="createdMeeting != null">-->
          <!--                <h2 class="text-center mb-5">Created</h2>-->
          <!--                &lt;!&ndash;          room-id&ndash;&gt;-->
          <!--                <div>-->
          <!--                  Room id : {{ this.createdMeeting.roomId }}-->
          <!--                </div>-->

          <!--                &lt;!&ndash;          title&ndash;&gt;-->
          <!--                <div>-->
          <!--                  Room id : {{ this.createdMeeting.title }}-->
          <!--                </div>-->


          <!--                &lt;!&ndash;          description&ndash;&gt;-->
          <!--                <div>-->
          <!--                  Room id : {{ this.createdMeeting.description }}-->
          <!--                </div>-->

          <!--                &lt;!&ndash;          dateTime&ndash;&gt;-->
          <!--                <div>-->
          <!--                  Room id : {{ this.createdMeeting.dateTime }}-->
          <!--                </div>-->

          <!--                &lt;!&ndash;          maxAttendees&ndash;&gt;-->
          <!--                <div>-->
          <!--                  Room id : {{ this.createdMeeting.maxAttendees }}-->
          <!--                </div>-->

          <!--                <div class="col-md-6" *ngIf="showBtnOptions">-->
          <!--                  <button class="custom-btn1" (click)="redirectToDetails()">Show meet details</button>-->
          <!--                </div>-->

          <!--                <div class="col-md-6" *ngIf="showBtnOptions">-->
          <!--                  <button class="custom-btn1" (click)="redirectToRoom()">Join Room</button>-->
          <!--                </div>-->

          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->


          <!--Connected user  -->

        </div>


      </div>
    </div>

  </div>
  <div class="footer">
    <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
      <br>Design: <a href="https://templatemo.com/page/1" target="_parent" title="website templates">TemplateMo</a>
    </p>
  </div>
</section>

