<!-- Section: Timeline -->
<section class="py-5 m-4">
  <ul class="timeline">
    <li *ngFor="let meeting of meetingDetail" class="timeline-item mb-5">


      <div class="card p-2 shadow" style="">
      <div class="down-content">
        <div class="mt-3" style="font-size: 15px">
          <div class="row">
            <div class="icon-part">
              <span class="iconify me-3" data-icon="uiw:date" data-width="21" data-height="21"></span>
              <span class="">{{ formatDateAndTime(meeting.dateTime) }}</span>
            </div>
            <div class="text-part">
            </div>
          </div>
        </div>

        <br>
        <a class="title mt-3 me-2 custom-color-2"
           style="text-transform: uppercase; line-height:15px; font-weight: bold">{{ meeting.title }}</a>
        <a (click)="copyTextToClipboard(meeting.roomId)">
                        <span class=""
                              style="font-size: 14px; color: grey; font-weight: normal; cursor: pointer">( {{ meeting.roomId }} )</span>
          <span class="iconify" data-icon="line-md:clipboard-arrow-twotone" data-width="18" style="color: #595959;"></span> </a>
        <br>

        <div class="mt-3">
          <div class="row">
            <div class="icon-part">
              <span class="iconify me-3" data-icon="fluent:text-description-32-filled" data-width="23"></span>
              <span>{{ meeting.description | truncate : 5 }}</span>
            </div>
            <div class="text-part">
            </div>
          </div>


          <button class="btn btn-outline-success me-3 mt-3" (click)="redirectToDetails(meeting.roomId)">
           <span class="iconify" data-icon="bx:show-alt" data-width="24" data-height="24"></span>
          </button>
          <!--                        todo: add if meeting.datetime - 2 hours the link available, else the button disabled and write under it : joining will be available 2 hours before the meet-->
          <button class="btn btn-outline-success mt-3" (click)="redirectToRoom(meeting.roomId)">
            <span class="iconify" data-icon="majesticons:open" data-width="24" data-height="24"></span>
          </button>


        </div>
      </div>
      </div>

    </li>
    <!-- ##########################-->


    <div *ngFor="let meeting of meetingDetail" class="col-md-4">
      <div class="col-md-11 templatemo-item-col all {{ meeting.status }}">
        <div class="meeting-item">
          <div class="thumb">
            <div class="price">
              <span>{{ meeting.status }}</span>
            </div>
            <a href="meeting-details.html"><img src="assets/images/meeting-04.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <a class="title" href="meeting-details.html"
               style="text-transform: uppercase; display: block; line-height:15px">{{ meeting.title }}</a>
            <!--                    <a (click)="copyTextToClipboard(meeting.roomId)"> <span class="ms-2" style="font-size: 14px; color: grey" >Room code: xxx-yyy-zzz</span> </a><br>-->
            <a (click)="copyTextToClipboard(meeting.roomId)">
                        <span class=""
                              style="font-size: 14px; color: grey; font-weight: normal">Room code: {{ meeting.roomId }} </span>
              <span class="iconify" data-icon="line-md:clipboard-arrow-twotone" data-width="21"
                    style="color: #595959;"></span> </a>
            <br>


            <div class="mt-3" style="font-size: 15px">
              <div class="row">
                <div class="icon-part">
                  <span class="iconify" data-icon="uiw:date" data-width="21" data-height="21"></span>
                </div>
                <div class="text-part">
                  <span>{{ formatDateAndTime(meeting.dateTime) }}</span>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="row">
                <div class="icon-part">
                  <span class="iconify me-2" data-icon="fa-solid:chalkboard-teacher" data-width="21"></span>

                </div>
                <div class="text-part">
                  <span>{{ meeting.organizer[0].firstname + " " + meeting.organizer[0].lastname }}</span>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div class="row">
                <div class="icon-part">
                  <span class="iconify" data-icon="fluent:text-description-32-filled" data-width="23"></span>
                </div>
                <div class="text-part">
                  <span>{{ meeting.description }}</span>
                </div>
              </div>


              <button class="btn custom-btn1 mt-4" (click)="redirectToDetails(meeting.roomId)">
                Show meet details
              </button>
              <!--                        todo: add if meeting.datetime - 2 hours the link available, else the button disabled and write under it : joining will be available 2 hours before the meet-->
              <button class="btn custom-btn1 mt-2" (click)="redirectToRoom(meeting.roomId)">Join Room</button>


            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    ##################-->

  </ul>
</section>
<!-- Section: Timeline -->
