/* You can add global styles to this file, and also import other style files */
/* Add this line at the beginning of styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --main-color: #A32C30;
  --second-color: rgb(32, 38, 44);
  --btn1-color: #A32C30;
  --btn2-color: rgb(245, 164, 37);
}

.custom-btn1 {
  background-color: var(--btn1-color);
  color: white;
  width: 100%;
}

.custom-btn1:hover {
  background-color: var(--btn1-color);
  opacity: 0.9;
  color: white;
}

.custom-btn2 {
  background-color: var(--btn2-color);
  color: white;
  width: 100%;
}

.custom-btn2:hover {
  background-color: var(--btn2-color);
  opacity: 0.9;
  color: white;
}

.custom-card1 {
  border-bottom: var(--btn1-color) 4px solid;
  border-top: var(--btn1-color) 4px solid;
}

.custom-card2 {
  border-bottom: var(--btn2-color) 4px solid;
  border-top: var(--btn2-color) 4px solid;
}
